# Read-only/persistent layout and integrity support
CONFIG_OVERLAY_FS=y
CONFIG_DM_VERITY=y

# Compressed, read-mostly filesystem support
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_ZSTD=y
