[Unit]
Description=Bind /data-backed Thread dataset over /var/lib/thread
DefaultDependencies=no
After=data.mount var-volatile-lib.service systemd-tmpfiles-setup.service
Wants=data.mount
RequiresMountsFor=/data
ConditionPathIsMountPoint=/data
ConditionPathIsDirectory=/data/lib/thread
Before=otbr-agent.service umount.target
Conflicts=umount.target

[Mount]
What=/data/lib/thread
Where=/var/lib/thread
Type=none
Options=bind,nodev,nosuid,noexec
DirectoryMode=0700
TimeoutSec=10s
