[Unit]
Description=IoT Gateway Provisioning (Network first-boot)
After=local-fs.target
RequiresMountsFor=/boot

[Service]
Type=oneshot
ExecStart=/usr/bin/iotgw-provision.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
