[Unit]
Description=IoT Gateway Dynamic Banner Generator
# Ensure overlay/rauc ready and wait for network-online to show IP reliably
After=rauc.service overlayfs-setup.service network-online.target
Wants=getty.target network-online.target
Before=getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/iotgw-banner.sh all
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
