[Unit]
Description=RAUC health check (mark slot good)
After=multi-user.target rauc.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/rauc-healthcheck

[Install]
WantedBy=multi-user.target
