[Unit]
Description=Grow data partition to fill SD card
After=local-fs.target
Before=data.mount
ConditionPathExists=!/var/lib/rauc-grow-done

[Service]
Type=oneshot
ExecStart=/usr/sbin/grow-data-partition.sh
ExecStartPost=/usr/bin/touch /var/lib/rauc-grow-done
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
